
.manager-centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0; 
  background-color: #f0f0f0; 
}

.manager-container {
  max-width: 280px; 
  border: 1px solid #e0e0e0; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #f9f9f9; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  box-sizing: border-box; 
}


.manager-business-form {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 100%; 
  max-width: 100%; 
  width: 100%;
  height: auto;
  padding:20px;
  margin: 0 auto; 
  box-sizing: border-box; 
}

.manager-head-text {
  margin-bottom:10px;
  font-size: 18px;
}
.manager-business-form label {
  font-weight: bold; 
  display: block;
  margin-bottom: 10px; 
  color: #333; 
}

.manager-input-field {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
  font-size: 16px; 
  margin-bottom: 10px; 
}

.manager-confirm-button {
  width: 100%; 
  padding: 10px 15px;
  background-color: #FFB71B; 
  color: white; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px; 
}

